<div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">About Us</h1>
      <p class="text-center sub-heading">Lets learn together</p>

      <div class="row">
        
        <div class="col-md-6 col-12 hero-text">
         
          <figure>
            
            <img class="photo" src="images/aman.jpg" alt="image">
            

          </figure>

        </div>


        {{!-- right side --}}
        <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
          <h1></h1>
          <h1></h1>
          <p>HI i am aman kumar mandal.i am 20yrs old and right now i am pursuing btech computer engineering from <span
              class="bold-style">amritsir college of engineering and technology</span></p>

              
          <button class="btn-style btn-primary">Read more</button>
        </div>


      </div>

    </div>
  </div>
</div>
