<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d108769.96547887585!2d74.92023865820312!3d31.57736349999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391bd63f85203271%3A0x57ec6504e6d034f4!2sAmritsar%20Group%20of%20Colleges%20%7C%20Top%20Engineering%2C%20Management%2C%20Law%2C%20Pharmacy%20Colleges!5e0!3m2!1sen!2sin!4v1627065581011!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>