<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading"> Choose language</h1>
            <p class="text-center sub-heading">select any language and get the quick answer</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services python">
                            <div class="icon">





                            </div>
                            <h4>Python</h4>
                            <a href="https://github.com/icmulnk57/python/tree/main" target="_blank">
                                <button class="btn-primary btn-style ">PYTHON</button>
                            </a>


                        </div>

                    </div>
                </div>
                {{!-- another --}}
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services java">
                            <div class="icon">




                            </div>
                            <h4>Java</h4>
                            <a href="https://github.com/icmulnk57/JAVA/tree/main" target="_blank">
                                <button class="btn-primary btn-style ">JAVA</button>
                            </a>

                            <p> </p>
                        </div>

                    </div>
                </div>
                {{!-- another --}}
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services cplus">
                            <div class="icon">




                            </div>
                            <h4>C++</h4>
                            <a href="https://github.com/icmulnk57/CPP/tree/main" target="_blank">
                                <button class="btn-primary btn-style ">C++</button>
                            </a>
                        </div>

                    </div>
                </div>
                {{!-- another --}}
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services c">
                            <div class="icon">




                            </div>
                            <h4>C</h4>
                            <a href="https://github.com/icmulnk57/C/tree/main" target="_blank">
                                <button class="btn-primary btn-style ">C</button>
                            </a>
                        </div>

                    </div>
                </div>
                {{!-- another --}}


            </div>

        </div>
    </div>
</div>